# Python capabilities
pandas
markdown
openpyxl

# Jupyter notebook
jupyterlab
ipywidgets

# AWS for Bedrock managed models
boto3
awscli
botocore

# OpenAI for GPT models
openai

# Ollama for LLMs running on your laptop
ollama

# === Ignore this after `pip install gtsystem` ===
# Package
build
twine